<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Angular Material Sandbox</span>
    <span class="spacer"></span>
    <span class="mat-typography">Created by: <strong>Milind Gour</strong></span>
  </mat-toolbar-row>
</mat-toolbar>

<div class="app-container">
  <button mat-stroked-button (click)="openDialog()">Open Dialog</button>
  <ul>
    <li>Name: {{ name }}</li>
    <li>Age: {{ age }}</li>
    <li>Email: {{ email }}</li>
  </ul>
  
  <button mat-stroked-button (click)="openSnackbar()">Open Snackbar</button>
  
  <mat-divider></mat-divider>

  <router-outlet></router-outlet>
</div>
